/*-------------background image--------------*/
body {
    background: url(../images/Background.jpg) no-repeat 50% 50% fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    color: #fff;
}

/*---------------Main content------------------*/
.row {
    margin-left: 1%;
}

h1 {
    font-family: 'Bungee Inline',cursive;
    font-size: 300%;
}

#game-instructions {
    font-family: 'Roboto',sans-serif;
}